// base font
$baseFont: 'Noto Sans CJK JP', 'Roboto', 'メイリオ', 'Meiryo', verdana,
	'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック',
	'MS PGothic', Sans-Serif;

// base text color
$baseFontColor: #333333;

// カラーイベントリ（カラーの宣言はここで行う）]
// TODO:名称をわかり易くする（したの命名はXDでのカラー名を踏襲したがわかりにくい）
$baseColor: #eeeeee;
$mainColor: #017bfe;
$accentColor: #28a745;
$cautionColor: #dc3444;
