// base font
$baseFont: 'Noto Sans CJK JP', 'Roboto', 'メイリオ', 'Meiryo', verdana,
	'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック',
	'MS PGothic', Sans-Serif;

// base text color
$baseFontColor: #333333;

// base background-color color
$baseBgColor: #eeeeee;
$mainBgColor: #017bfe;
$accentBgColor: #28a745;
$cautionBgColor: #dc3444;
