// fontFamily
$fontFamily: 'Noto Sans CJK JP', 'Roboto', 'メイリオ', 'Meiryo', verdana,
	'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック',
	'MS PGothic', Sans-Serif;

// fontSize
$xs: 12px;
$sm: 16px;
$md: 20px;
$lg: 24px;
$xl: 28px;

// Color
$black: #333333;
$white: #eeeeee;
$gray: #e2e2e2;
$main: #017bfe;
$accent: #28a745;
$caution: #dc3444;
