// fontStyle
$baseFontStyle: 'Noto Sans CJK JP', 'Roboto', 'メイリオ', 'Meiryo', verdana,
	'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック',
	'MS PGothic', Sans-Serif;

// textColor
$baseFontColor: #333333;

// fontSize
$smFontSize: 12px;
$mdFontSize: 20px;
$lgFontSize: 32px;

// backgroundColor
$baseBgColor: #eeeeee;
$grayBgColor: #e2e2e2;
$mainBgColor: #017bfe;
$accentBgColor: #28a745;
$cautionBgColor: #dc3444;
