@import '../../variables.scss';

.root {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.link {
		.button {
			font-size: $sm;
			background-color: $gray;
			border: none;
			cursor: pointer;
			padding: 8px 16px;
			color: $black;
			font-weight: bold;
			border-radius: 6px;

			&:hover {
				opacity: 0.5;
			}
		}
	}
}
