@import '../../variables.scss';

.editTodo {
	height: 100%;
	.form {
		height: 100%;
		.input {
			display: flex;
			flex-direction: column;
			margin-bottom: 24px;
			.label {
				font-family: $fontFamily;
				font-size: $sm;
				margin-bottom: 4px;
				font-weight: bold;
				color: $black;
			}
			.inputValue {
				font-size: $sm;
				padding: 8px 16px;
				border: 1px solid $black;
				border-radius: 6px;
			}
			.error {
				margin-top: 4px;
				color: $caution;
			}
		}
		.textArea {
			height: 60%;
			display: flex;
			flex-direction: column;
			margin-bottom: 24px;
			.label {
				font-family: $fontFamily;
				font-size: $sm;
				margin-bottom: 4px;
				font-weight: bold;
				color: $black;
			}
			.inputValue {
				height: 100%;
				font-size: $sm;
				padding: 8px 16px;
				border: 1px solid $black;
				border-radius: 6px;
			}
		}
		.radio {
			margin-bottom: 24px;
		}
		.buttonArea {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			.editButton {
				font-size: $sm;
				background-color: #28a745;
				border: none;
				cursor: pointer;
				padding: 8px 16px;
				color: $white;
				font-weight: bold;
				border-radius: 6px;

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
}
