@import '../../variables.scss';

.deleteModal {
	display: flex;
	flex-direction: column;
	align-items: center;
	.confirmMessage {
		font-size: $md;
		font-weight: bold;
		color: $black;
		margin-bottom: 16px;
	}
	.buttons {
		.deleteButton {
			font-size: $sm;
			background-color: $caution;
			border: none;
			cursor: pointer;
			padding: 8px 16px;
			color: $white;
			font-weight: bold;
			border-radius: 6px;
			margin-right: 16px;

			&:hover {
				opacity: 0.5;
			}
		}
		.cancelButton {
			font-size: $sm;
			background-color: $gray;
			border: none;
			cursor: pointer;
			padding: 8px 16px;
			color: $black;
			font-weight: bold;
			border-radius: 6px;

			&:hover {
				opacity: 0.5;
			}
		}
	}
}
